In [140]:
import pandas as pd
import numpy as np
from datetime import datetime
bike_name=["Kawasaki_Ninja_3000","Honda_SB_Shine","Royal_Enfield","Activa_6G"]
bike_rating=[10,5,8,4]
bike_milage=[10,100,20,60]
bike_stock=[1,4,2,5]
bikedata={"bike_name":bike_name,"bike_milage":bike_milage,"bike_stock":bike_stock,"bike_rating":bike_rating}
stock = pd.DataFrame(bikedata)

In [124]:
package_name=["HOURS","DAY","WEEK","MONTH"]
package_price=[50,100,700,2500]
package_return=[1,24,24*7,24*7*30]
packagedata={"package_name":package_name,"package_price":package_price,"package_return":package_return}
packages = pd.DataFrame(packagedata)
def package():
  print(packages)
  package_ID=int(input("Select a Package and ENTER PackageID : "))
  return package_ID

In [137]:
def bill(Book_ID,Package_ID):
  name= input("Enter Your Name : ")
  Phn = input("Enter Your Phone no. : ")
  if(Package_ID==0):
      freq = int(input("No. of hours required : "))
  else:
      freq = int(input("No of days required : "))

  Rentalcost = (packages.at[Book_ID,'package_price']*freq)
  security_deposit = (2000*stock.at[Book_ID,'bike_rating'])

  print("\n\n\nNAME : ",name,"\nContact :",Phn,"\nBike : ",stock.at[Book_ID,'bike_name'], "\nPackage : " ,packages.at[Package_ID,'package_name'])
  print("DATE : ", datetime.now() , "\nRental cost : ", Rentalcost ,"\nsecurity_deposit : ", security_deposit , '\ngst :', 0.05*Rentalcost,'\nTotal Bill', Rentalcost+0.05*Rentalcost+security_deposit)

In [126]:
def updateStock(book):
  stock.at[book,'bike_stock']=stock.at[book,'bike_stock']-1

In [127]:
def booking():
  print(stock)
  book = int(input("bike ID : "))
  if (stock.at[book,'bike_stock']!=0):
    bill(book,package())
    updateStock(book)
  else:
    print("Not Available")

In [139]:
booking()

             bike_name  bike_milage  bike_stock  bike_rating
0  Kawasaki_Ninja_3000           10           0           10
1       Honda_SB_Shine          100           4            5
2        Royal_Enfield           20           2            8
3            Activa_6G           60           5            4
bike ID : 1
  package_name  package_price  package_return
0        HOURS             50               1
1          DAY            100              24
2         WEEK            700             168
3        MONTH           2500            5040
Select a Package and ENTER PackageID : 3
Enter Your Name : re
Enter Your Phone no. : 123
No of days required : 3



NAME :  re
Contact : 123
Bike :  Honda_SB_Shine
Package :  MONTH
DATE :  2023-09-03 16:10:11.877977
Rental cost :  300
security_deposit :  10000
gst : 15.0
Total Bill 10315.0